<% if @h.present? %>
  <div class='wrap'>
    <div class='who-share'>
      <span class='link-name'><i><%= @h_post.name.present? ? @h_post.name : '名無し' %>さんがシェアした映画</i>
    </div>
      <% if @h_post.twitter_id.present? %>
        <a href="https://twitter.com/<%= @h_post.twitter_id %>" target="_blank"><i class="fa fa-twitter fa-lg twitter-icon"></i></a>
      <% end %>
    </span>
    <div class='info'><i class="fa fa-info-circle fa-fw"></i>本はamazonへのリンクになっています</div>
    <div class='view'>
      <%= image_tag 'dvdrack.png', width: 315 %>
      <span class="title_view">
        <%= @h_post.title %>
      </span>
      <span class="view-img1">
        <a href="<%= @h_post.movies[0]&.url %>" target="_blank" id="view_url1">
          <img src="<%= @h_post.movies[0]&.image %>" id="view_image1" width="75px" class='book-body'>
        </a>
      </span>
      <span class="view-img2">
        <a href="<%= @h_post.movies[1]&.url %>" target="_blank" id="view_url2">
          <img src="<%= @h_post.movies[1]&.image %>" id="view_image2" width="75px" class='book-body'>
        </a>
      </span>
      <span class="view-img3">
        <a href="<%= @h_post.movies[2]&.url %>" target="_blank" id="view_url3">
          <img src="<%= @h_post.movies[2]&.image %>" id="view_image3" width="75px" class='book-body'>
        </a>
      </span>
    </div>
  </div>
  <br>
  <div id='you'>
    <span><b>映画をシェアする</b></span>
  </div>
<% end %>

<div class='wrap'>
  <div class="preview">
    <%= image_tag 'dvdrack.png', width: 315 %>
    <span class="title_preview">
    </span>
    <span class="img1" data-title="">
      <a href="" target="_blank" id="preview_url1">
        <img src="" id="preview_image1" width="75px">
      </a>
    </span>
    <span class="img2" data-title="">
      <a href="" target="_blank" id="preview_url2">
        <img src="" id="preview_image2" width="75px">
      </a>
    </span>
    <span class="img3" data-title="">
      <a href="" target="_blank" id="preview_url3">
        <img src="" id="preview_image3" width="75px">
      </a>
    </span>
    <span class='delete1 fa-stack' style='display: none;'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-times fa-stack-1x fa-inverse"></i>
    </span>
    <span class='delete2 fa-stack' style='display: none;'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-times fa-stack-1x fa-inverse"></i>
    </span>
    <span class='delete3 fa-stack' style='display: none;'>
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-times fa-stack-1x fa-inverse"></i>
    </span>
  </div>
</div>

<div id='confirmation-button' style='display: none;'>
  <button id="save-button"><i class="fa fa-check fa-fw"></i>映画をシェアする</button>
</div>

<div class='info'><i class="fa fa-info-circle fa-fw"></i>タイトルの一部を入力し、選択してください</div>

<%= form_with(model: @post) do |form| %>
  <div class='form'>
    <div class="form-row dvd-name">
      <div class="form-group col-3 form-text">
        映画名
      </div>
      <div class="form-group col-8">
        <%= form.text_area :keyword, id: :keyword, class:'form-control', rows:"1" %>
      </div>
      <div class="form-group col-1 search" id='search'>
        <i class="fa fa-search fa-lg"></i>
      </div>
    </div>
    <div id="display"></div>
    </div>
    <div class="form-row">
      <div class="form-group col-3 form-text">
        タイトル
      </div>
      <div class="form-group col-8">
        <%= form.text_area :title, id: :title, value: 'お気に入りの映画', class:'form-control', rows:"1" %>
      </div>
      <div class="form-group col-1 search" id='title-ok'>
        <i class="fa fa-check-square-o fa-lg"></i>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-3 form-text">
        お名前
      </div>
      <div class="form-group col-9">
        <%= form.text_area :name, id: :name, placeholder: '任意', class:'form-control', rows:"1" %>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-3 form-text">
        Twitter ID
      </div>
      <div class="form-group col-9">
        <%= form.text_area :twitter_id, id: :twitter_id, placeholder: '任意 / @は不要です', class:'form-control', rows:"1" %>
      </div>
    </div>
  </div>
<% end %>

<% if @same_movie_posts.present? %>
  <div class="same">
    <div class="wrap">
      <div>
        <i class="fa fa-flag fa-fw"></i><%= @h_post.name.present? ? @h_post.name : '名無し' %>さんと同じ映画をシェアした方々
      </div>
      <% @same_movie_posts.each do |post| %>
        <div class="wrap">
          <div class="who-share">
            <a href="https://moviesharesns.herokuapp.com/?h=<%= post.h %>" target="_blank" style="color: #2C3133;">
              <span class="link-name"><i><%= post.name.present? ? post.name : "名無し" %>さんがシェアした映画</i> </div>
            </a>
            <% if post.twitter_id.present? %>
              <a href="https://twitter.com/<%= post.twitter_id %>" target="_blank"><i class="fa fa-twitter fa-lg twitter-icon"></i></a>
            <% end %>
              </span>
              <div class="view">
                <%= image_tag "dvdrack.png", width: 315 %>
                <span class="title_view">
                  <%= post.title %>
                </span>
                <span class="view-img1">
                  <a href="<%= post.movies[0]&.url %>" target="_blank" id="view_url1">
                    <img src="<%= post.movies[0]&.image %>" id="view_image1" width="75px" class="book-body">
                  </a>
                </span>
                <span class="view-img2">
                  <a href="<%= post.movies[1]&.url %>" target="_blank" id="view_url2">
                    <img src="<%= post.movies[1]&.image %>" id="view_image2" width="75px" class="book-body">
                  </a>
                </span>
                <span class="view-img3">
                  <a href="<%= post.movies[2]&.url %>" target="_blank" id="view_url3">
                    <img src="<%= post.movies[2]&.image %>" id="view_image3" width="75px" class="book-body">
                  </a>
                </span>
              </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class='recent-share'>
  <div>
    <i class="fa fa-clock-o fa-fw"></i>最近シェアされた映画
  </div>
  <div>
    <span class="info">今までに<%= @count %>回シェアされたよ</span>
  </div>
  <% @posts.each do |post| %>
    <div class='wrap'>
      <div class='who-share'>
        <a href="https://moviesharesns.herokuapp.com/?h=<%= post.h %>" target="_blank" style='color: #2C3133;'>
          <span class='link-name'><i><%= post.name.present? ? post.name : '名無し' %>さんがシェアした映画</i> </div>
        </a>
      <% if post.twitter_id.present? %>
        <a href="https://twitter.com/<%= post.twitter_id %>" target="_blank"><i class="fa fa-twitter fa-lg twitter-icon"></i></a>
      <% end %>
        </span>
        <div class='view'>
          <%= image_tag 'dvdrack.png', width: 315 %>
          <span class="title_view">
            <%= post.title %>
          </span>
          <span class="view-img1">
            <a href="<%= post.movies[0]&.url %>" target="_blank" id="view_url1">
              <img src="<%= post.movies[0]&.image %>" id="view_image1" width="75px" class='book-body'>
            </a>
          </span>
          <span class="view-img2">
            <a href="<%= post.movies[1]&.url %>" target="_blank" id="view_url2">
              <img src="<%= post.movies[1]&.image %>" id="view_image2" width="75px" class='book-body'>
            </a>
          </span>
          <span class="view-img3">
            <a href="<%= post.movies[2]&.url %>" target="_blank" id="view_url3">
          <img src="<%= post.movies[2]&.image %>" id="view_image3" width="75px" class='book-body'>
        </a>
      </span>
    </div>
  </div>
  <% end %>
</div>

<div class='see-more'>
  <%= link_to movies_path, style:'color: #2C3133;' do %>
    <u><i><i class="fa fa-plus fa-fw"></i>もっと見る</i></u>
  <% end %>
</div>

<script>
  // 最初にタイトルが表示されるように
  var content = $("#title").val();
  $('.title_preview').html(content);
</script>
